.container {
  width: 1200px;
  border: 1px solid black;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.cart-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}