.container {
  width: 1200px;
  border: 1px solid black;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.cart-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.cart-btn:hover {
  background-color: #f44336;
}

.cart-btn:active {
  background-color: #e53935;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}